<div id="register" class="container">
  <div class="row no-gutters">
    <div class="col-md-6 d-flex align-items-center">
      <div class="form w-100">
        <%= link_to "Volver a Iniciar Sesión",  new_session_path(resource_name), class: "btn btn-link mb-3 p-0 fw-bolder" %>
        <h2 class="mb-4 fw-bold">Bienvenidos a TicketX</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :first_name,
                            required: true,
                            input_html: { placeholder: "Nombres", class: "form-control" },
                            label: false %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name,
                            required: true,
                            input_html: { placeholder: "Apellidos", class: "form-control" },
                            label: false %>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :phone_number,
                          input_html: { placeholder: "Número de teléfono", class: "form-control" },
                          label: false %>
            </div>
            <div class="form-group">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", placeholder: "Correo electrónico", class: "form-control" },
                          label: false %>
            </div>
            <div class="form-group">
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", placeholder: "Contraseña", class: "form-control" },
                          label: false %>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password", placeholder: "Confirmar contraseña", class: "form-control" },
                          label: false %>
            </div>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Ingresar", class: "btn btn-primary btn-block w-100 mb-3" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="image-background">
      </div>
    </div>
  </div>
</div>
