<%= simple_form_for(@event, html: { class: 'form-horizontal', id: 'eventForm' }) do |f| %>
  <div class="form-group">
    <%= f.input :name, label: 'Nombre del evento', input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= f.input :description, label: 'Descripción', input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group mb-3">
    <%= f.select :category, @categories, { prompt: 'Selecciona una categoría' }, { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= f.input :date, label: 'Fecha', input_html: { class: 'form-control datepicker', required: true } %>
  </div>

  <div class="form-group">
    <%= f.input :location,
     label: 'Ubicación',
     input_html: {
      class: 'form-control',
       required: true,
       "data-location-autocomplete-target" => "location",
       class: "d-none"
      },
      wrapper_html: {
        "data-controller" => "location-autocomplete", "data-location-autocomplete-apikey-value" => ENV["MAPBOX_API_KEY"]
      }
    %>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :quantity, label: 'Cantidad de boletos', input_html: { class: 'form-control', required: true } %>
    </div>
    <div class="col-md-6">
      <%= f.input :ticket_price, label: 'Precio del boleto', input_html: { class: 'form-control', required: true } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.input :photo, as: :file, label: 'Foto del evento', input_html: { class: 'form-control-file' } %>
  </div>

  <div class="form-group mt-4">
    <%= f.button :submit, 'Guardar evento', class: 'btn btn-primary w-100 fw-bolder' %>
  </div>
<% end %>
