<%= simple_form_for [event, order] do |f| %>
<div data-controller="form" class="form-group">
  <div>
    <h6>Reserva</h6>
  </div>
  <div class="d-flex justify-content-between">
    <h6><strong>Cant. Entradas <%= @quantity %></strong></h6>
    <h6><strong>Total S/. <%= @total_price %></strong></h6>
    <h6 class="text-end"><strong><span data-form-target = "total"></span></strong></h6>

  </div>
  <%= f.input :quantity, as: :hidden, input_html: {:value => @quantity} %>
  <%= f.input :total_price, as: :hidden, input_html: {:value => @total_price} %>
  <%= f.input :shipping_address %>
  <%= f.input :status %>
  <%= f.submit %>
</div>
<% end %>
