<div class="container">
  <%= link_to event_orders_path, :class => "btn btn-dark rounded" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1>Order</h1>
  <div class="card">
    <%= @order.event.name %>
    <%= @order.event.name %>
    <p><%= @order.status %></p>
    <p><%= @order.quantity %></p>
    <p><%= @order.total_price %></p>
  </div>
</div>
