<div class="container">
    <div id="flash">
      <% if flash[:notice] %>
        <div class="notice p-3 mb-2 bg-success rounded text-white">
          <strong><span><i class="fa-solid fa-check"></i> Entradas solicitadas exitosamente.</span></strong>
        </div>
      <% end %>
  </div>
  <div class="d-flex justify-content-center py-3">
    <%= link_to events_path, :class => "btn btn-dark rounded-5 m-2" do %>
      Ver más eventos
    <% end %>
    <%= link_to event_path(@order.event), :class => "btn btn-dark  rounded-5 m-2" do %>
      Ver evento
    <% end %>
    <%= link_to orders_path, :class => "btn btn-dark  rounded-5 m-2" do %>
      Ver mis entradas
    <% end %>
  </div>
  <div class="card-order-details bg-white py-5 px-4 m-3 shadow rounded-2">
    <h1 class="text-center"><strong>Resumen de compra</strong></h1>
    <div class="d-flex flex-column">
      <div class="d-flex">
        <% if @order.event.photo.attached? %>
            <%= cl_image_tag @order.event.photo.key, height: 160, width: 160, crop: :fill, :alt => @order.event.name %>
          <% else %>
            <%= image_tag "sinimagen.jpg", height: 160, width: 160, :alt => @order.event.name %>
          <% end %>
          <div class="row ps-3 align-items-center">
            <div class="mx-auto">
              <h4><strong><%= @order.event.name %></strong></h4>
              <p><%= @order.event.date %></p>
            </div>
          </div>
      </div>
      <div class="pt-3">
        <p><strong>Fecha de solicitud: </strong><%= @order.event.created_at %></p>
      </div>
    </div>
    <hr>
    <div>
      <h4><strong>Cliente</strong></h4>
      <div>
        <p><strong>Nombre: </strong><%= "#{@order.user.first_name.capitalize} #{@order.user.last_name.capitalize}" %></p>
      </div>
      <div class="d-flex">
        <p><strong>Correo: </strong><%= @order.user.email %></p>&nbsp;
        <% if current_user.id != @order.user.id %>
          <a href="mailto:<%= @order.user.email %>?Subject=<%= @order.event.name %>%20" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-square-envelope"></i>
          </a>
        <% end %>
      </div>
      <div class="d-flex">
        <p><strong>Telefono: </strong><%= @order.user.phone_number %></p>&nbsp;
        <% if current_user.id != @order.user.id %>
          <a href="https://api.whatsapp.com/send?phone=+51<%= @order.user.phone_number %>&amp;text=%C2%A1Hola%20<%= @order.user.first_name.capitalize %>!." target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i>
          </a>
        <% end %>
      </div>
    </div>
    <hr>
    <div>
      <h4><strong>Datos de solicitud</strong></h4>
      <h5><strong>Entradas</strong></h5>
      <p><strong>Dirección de entrega: </strong><%= @order.shipping_address %></p>
      <p><strong>Status: </strong><%= @order.status %></p>
      <p>Reserva</p>
      <p><strong>X<%= @order.quantity %></strong> -------- <strong>S/. <%= @order.total_price %></strong></p>
    </div>
  </div>
</div>
