<!DOCTYPE html>
<html>
  <head>
    <title>TicketX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <div data-controller="sweetalert" data-sweetalert-notice="<%= notice %>"></div>
    <p class="alert"><%= alert %></p>
    <% unless controller_name == 'sessions' && (action_name == 'new' || action_name == 'create') || controller_name == 'registrations' && action_name == 'new' %>
      <%= render "shared/footer" %>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
